{% extends 'baseAdmin.html.twig' %}
{% block title %}Hello HomeAdminController!{% endblock %}

{% block body %}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row" style="display: flex;align-items: center;justify-content: center">
                <div class="col-md-6">
                    <div class="card-box">
                        <h4 class="m-t-0 m-b-30 header-title">Ajouter Hotel</h4>
                        {{form_start(f)}}

                        <div class="form-group">
                            <label for="name">nom_hotel</label>
                            {{ form_widget(f.nom_hotel)}}
                        </div>
                        <div class="form-group">
                            <label for="name">nbetoile</label>
                            {{ form_widget(f.nbetoile)}}
                        </div>
                          <div class="form-group">
                            <label for="name">image</label>
                            {{ form_widget(f.image)}}
                        </div>
                        <div class="form-group">
                            <label for="name">nbchambre</label>
                            {{ form_widget(f.nbchambre)}}
                        </div>
                        <div class="form-group">
                            <label for="name">nbrestaurant</label>
                            {{ form_widget(f.nbrestaurant)}}
                        </div>
                        <div class="form-group">
                            <label for="name">nbpiscine</label>
                            {{ form_widget(f.nbpiscine)}}
                        </div>
                        <div class="form-group">
                            <label for="name">adresse_hotel</label>
                            {{ form_widget(f.adresse_hotel)}}
                        </div>
                        <div class="form-group">
                            <label for="name">villehotel</label>
                            {{ form_widget(f.villehotel)}}
                        </div>

                        

                        {{ form_end(f) }}

                    </div>
                </div>



            </div>
        </div>
    </div>
</div>


{% endblock %}
