{% extends 'base.html.twig' %}

{% block title %}Edit TaxiAero{% endblock %}

{% block body %}
    <h1>Edit TaxiAero</h1>

    {{ include('taxi_aero/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('taxi_aero_index') }}">back to list</a>

    {{ include('taxi_aero/_delete_form.html.twig') }}
{% endblock %}
{% block list %}

    <li class=""><a href="{{ path('taxi_aero_index_user') }}">Mes Reservation Taxi</a></li>
    <li class=""><a href="{{ path('loc_index_user') }}">Mes Reservation Voiture</a></li>
    <li class=""><a href="{{ path('taxi_aero_new') }}">Reserver Taxi</a></li>
    <li class=""><a href="{{ path('loc_voiture_new') }}">Reserver Voiture</a></li>
{% endblock %}