{% extends 'baseAdmin.html.twig' %}

{% block title %}Reservationvol{% endblock %}

{% block body %}
    <h1>Réservation vol</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Référence réservation</th>
            <td>{{ reservationvol.idreservationvol }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ reservationvol.user.nom }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ reservationvol.user.prenom }}</td>
        </tr>
        <tr>
            <th>Date départ</th>
            <td>{{ reservationvol.vol.datedepart|date }}</td>
        </tr>
        <tr>
            <th>Aéroport de départ</th>
            <td>{{ reservationvol.vol.aerodepart }}</td>
        </tr>
        <tr>
            <th>Aéroport d'arrivé</th>
            <td>{{ reservationvol.vol.aeroarrive }}</td>
        </tr>
        <tr>
            <th>Durée du vol</th>
            <td>{{ reservationvol.vol.duree }}</td>
        </tr>

        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_reservationvol_Admin') }}">Retourner à la liste</a>

{% endblock %}
{% block list %}
    <li><a href="{{ path('app_vol_index') }}"><i class="fa fa-plane"></i> <span>Vols</span></a> </li>
    <li><a href="{{ path('app_reservationvol_Admin') }}"><i class="fa fa-ticket"></i> <span>Réservations vols</span></a> </li>
{% endblock %}